body{
	background:url(../images/bg.jpg) no-repeat center center fixed; 

	  background-size: cover;
}
#container{
	width:300px;
	height:450px;
	margin-top:8%;
	margin-left:40%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px;
}
input{
	margin-left: 60px;
	margin-bottom: 17px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
}
button{
	margin-left: 60px;
	margin-top: 30px;
	width: 170px;
	height: 40px;
	background-color: #51a829;
	border-color: #51a829; 
	color: white;
}